/*----------------------------------------------------------------------------------
Project     :   Emexso - Product Landing Page
-------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------
[Table of contents]
default css
header area
hero area
about area
section heading
features area
discount-area
video area
product area
faq area
testimonial area
newsletter area
why choose area
contact area
facilities area
footer
--------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
    default css
---------------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap');
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #0f1d46;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
    text-decoration: none;
    outline: none;
}

a,
button {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

button {
    cursor: pointer;
}

button:focus {
    outline: 0;
}

a {
    color: #0f1d46;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 0
}

h1 {
    font-size: 70px;
    line-height: 80px;
}

h2 {
    font-size: 50px;
    line-height: 60px;
}

h3 {
    font-size: 40px;
    line-height: 50px;
}

h4 {
    font-size: 28px;
    line-height: 38px;
}

h5 {
    font-size: 20px;
    line-height: 30px;
}

h6 {
    font-size: 16px;
    line-height: 26px;
}

p {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #3c6382
}


/* theme color #1980fa */


/*-------------------------------------------------------------------------------------
    header area
---------------------------------------------------------------------------------------*/


/* 
.header {
    background: #f7f9ff;
   
} */

.site-logo a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}

.site-logo a:hover {
    color: #0f1d46;
}

.main-menu ul li {
    display: inline-block;
    margin-left: 30px;
    position: relative;
    z-index: 99999;
}

.main-menu ul li a {
    padding: 20px 0;
    text-transform: capitalize;
}

.main-menu ul li::after {
    content: '';
    position: absolute;
    left: -24%;
    bottom: 30%;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: #1980FA;
    transition: .5s linear all;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}

.main-menu ul li a:hover {
    color: #0f1d46;
}

.main-menu ul li:hover::after {
    opacity: 1;
    visibility: visible;
}


/*-------------------------------------------------------------------------------------
    hero area
---------------------------------------------------------------------------------------*/

.hero {
    background: #f7f9ff;
    padding: 160px 0px 125px;
}

.left-content h2 {
    font-weight: 700;
    font-size: 57px;
    margin-bottom: 30px;
}

.right-content {
    width: 480px;
}

.right-content img {
    width: 100%;
    margin-top: -65px;
}

.links {
    margin-top: 40px;
}

.button {
    padding: 18px 50px;
    background: #1980FA;
    display: inline-block;
    color: #fff;
    font-weight: 700;
}

.button:hover {
    color: #0f1d46;
}


/*-------------------------------------------------------------------------------------
    about area
---------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
     section heading
---------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
     features area
---------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
    discount-area
---------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
    video area
---------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
    product area
---------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
    faq area
---------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
    testimonial area
---------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
    newsletter area
---------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
    why choose area
---------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
    contact area
---------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
    facilities area
---------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
    footer
---------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
    demo area
---------------------------------------------------------------------------------------*/